[submodule "Lua"]
	path = Test2/ScriptEngine/external/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "sol2"]
	path = Test2/ScriptEngine/external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "pugixml"]
	path = external/pugixml
	path = Test2/external/pugixml
	path = Test2/ScriptEngine/external/pugixml
	url = https://github.com/zeux/pugixml.git
