[submodule "ScriptEngine/external/sol2"]
	path = ScriptEngine/external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ScriptEngine/Engine/external/sol2"]
	path = ScriptEngine/Engine/external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ScriptEngine/Engine/external/rapidjson"]
	path = ScriptEngine/Engine/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ScriptEngine/Engine/external/P7"]
	path = ScriptEngine/Engine/external/P7
	url = https://github.com/Enem-20/P7.git
[submodule "ScriptEngine/Engine/external/Lua"]
	path = ScriptEngine/Engine/external/Lua
	url = https://github.com/walterschell/Lua.git
